
            <form id="contact-form" method="post" class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s"
                style="margin: 1px; justify-content: center;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="lastname" type="text" name="firstname" title="firstname"
                                placeholder="First Name">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="lastname" type="text" name="lastname" title="lastname"
                                placeholder="Last Name">
                        </div>
                    </div>
                </div>
             
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="email" type="text" name="email" title="email" placeholder="Email">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="password" type="text" name="password" title="password"
                                placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="phone" type="tel" name="phone" title="phone" placeholder="Phone Number">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="bof" type="date" name="bof" title="bof" placeholder="Birth Of Date">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6" style="margin-top: 15px;">
                        
                        <mat-form-field appearance="fill" class ="mat-form-field-infix" style="width:100%;height: 55px;">
                          <mat-label style="color: white; border-color: white ;" >Gender</mat-label>
                          <mat-select equired>
                            <mat-option>Male</mat-option>
                            <mat-option>Female</mat-option>

                          </mat-select>
                          <mat-error >Please choose an animal</mat-error>
                          <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="special" type="text" name="special" title="special"
                                placeholder="Specialization">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="single_form">
                            <p style="font-size: 23px; color: white;">Profile Picture</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single_form">
                            <p style="font-size: 23px; color: white ;">Certificate</p>
                        </div>
                    </div>

                  
                    </div>


             

                <div class="row">
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="cert" type="file" name="cert" title="cert" placeholder="Certificate">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single_form">
                            <input matInput id="profile" type="file" name="profile" title="profile"
                                placeholder="Profile Pic">

                        </div>

                 

                </div>
                </div>

         

                <br><br><br>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="margin-left: 127px;">
                        <button type="submit" class="main-btn">Register</button>
                    </div>

                 
                </div>
            </form>
 