
<div class="container-fluied">
    <section id="contact" class="contact_area bg_cover pt-120 pb-130"
        style="background-image: url(assets/images/pexels-pixabay-434337.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title section_title_2 text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Register</h4>
                    </div>
                </div>

            </div>


            <mat-tab-group dynamicHeight>
                 <mat-tab label="Teacher">
                  <div class="example-large-box mat-elevation-z4">
                    <app-registercontent></app-registercontent>
                  </div>
                </mat-tab>
                <mat-tab label="Student">
                  <div class="example-large-box mat-elevation-z4">
                    <app-registercontent2></app-registercontent2>
                  </div>
                </mat-tab>
              </mat-tab-group>


</div>
    </section>